
@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?37598903');
    src: url('fonts/fontello.eot?37598903#iefix') format('embedded-opentype'),
    url('fonts/fontello.woff2?37598903') format('woff2'),
    url('fonts/fontello.woff?37598903') format('woff'),
    url('fonts/fontello.ttf?37598903') format('truetype'),
    url('fonts/fontello.svg?37598903#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fc-icon-cancel_automation:before {
    content: '\e803';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37598903#fontello') format('svg');
  }
}
*/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?cwznoa');
    src:  url('fonts/icomoon.eot?cwznoa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cwznoa') format('truetype'),
    url('fonts/icomoon.woff?cwznoa') format('woff'),
    url('fonts/icomoon.svg?cwznoa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="fc-icon-"], [class*=" fc-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fc-icon-action:before {
    content: "\e900";
}
.fc-icon-apply_list:before {
    content: "\e901";
}
.fc-icon-apply_tag:before {
    content: "\e902";
}
.fc-icon-benchmark:before {
    content: "\e903";
}
.fc-icon-cancel_automation .path1:before {
    content: "\e904";
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path4:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path5:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path6:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path7:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path8:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path9:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path10:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path11:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path12:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path13:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path14:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path15:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path16:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path17:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path18:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path19:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path20:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path21:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path22:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path23:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path24:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path25:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path26:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path27:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path28:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_automation .path29:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.fc-icon-cancel_automation .path30:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.fc-icon-cancel_sequence:before {
    content: "\e922";
}
.fc-icon-check_contact_property_conditional:before {
    content: "\e923";
}
.fc-icon-conditions:before {
    content: "\e924";
}
.fc-icon-create_wp_user:before {
    content: "\e925";
}
.fc-icon-edd_new_order_success:before {
    content: "\e926";
}
.fc-icon-edd:before {
    content: "\e927";
}
.fc-icon-end_funnel:before {
    content: "\e928";
}
.fc-icon-fluentforms:before {
    content: "\e929";
}
.fc-icon-has_list:before {
    content: "\e92a";
}
.fc-icon-has_wp_role:before {
    content: "\e92b";
}
.fc-icon-learndash_complete_course:before {
    content: "\e92c";
}
.fc-icon-learndash_complete_lesson:before {
    content: "\e92d";
}
.fc-icon-learndash_complete_topic:before {
    content: "\e92e";
}
.fc-icon-learndash_course_group:before {
    content: "\e92f";
}
.fc-icon-learndash_enroll_course:before {
    content: "\e930";
}
.fc-icon-learndash:before {
    content: "\e931";
}
.fc-icon-lifter_lms_complete_course:before {
    content: "\e932";
}
.fc-icon-lifter_lms_complete_lession-t2:before {
    content: "\e933";
}
.fc-icon-lifter_lms_course_enrollment:before {
    content: "\e934";
}
.fc-icon-lifter_lms_membership:before {
    content: "\e935";
}
.fc-icon-lifter_lms:before {
    content: "\e936";
}
.fc-icon-link_clicked:before {
    content: "\e937";
}
.fc-icon-list_applied_2:before {
    content: "\e938";
}
.fc-icon-list_applied:before {
    content: "\e939";
}
.fc-icon-list_removed_2:before {
    content: "\e93a";
}
.fc-icon-list_removed:before {
    content: "\e93b";
}
.fc-icon-memberpress_expired:before {
    content: "\e93c";
}
.fc-icon-memberpress_membership:before {
    content: "\e93d";
}
.fc-icon-memberpress:before {
    content: "\e93e";
}
.fc-icon-membership_level_ex_pmp:before {
    content: "\e93f";
}
.fc-icon-new_order_woo:before {
    content: "\e940";
}
.fc-icon-paid_membership_pro_user_level:before {
    content: "\e941";
}
.fc-icon-paid_membership_pro:before {
    content: "\e942";
}
.fc-icon-rcp_membership_cancle:before {
    content: "\e943";
}
.fc-icon-rcp_membership_level:before {
    content: "\e944";
}
.fc-icon-remove_from_course_lms:before {
    content: "\e945";
}
.fc-icon-remove_from_membership_lms:before {
    content: "\e946";
}
.fc-icon-remove_tag:before {
    content: "\e947";
}
.fc-icon-removed_list:before {
    content: "\e948";
}
.fc-icon-restric_content:before {
    content: "\e949";
}
.fc-icon-send_campaign:before {
    content: "\e94a";
}
.fc-icon-set_sequence:before {
    content: "\e94b";
}
.fc-icon-tag_applied_2:before {
    content: "\e94c";
}
.fc-icon-tag_applied:before {
    content: "\e94d";
}
.fc-icon-tag_removed_2:before {
    content: "\e94e";
}
.fc-icon-tag_removed:before {
    content: "\e94f";
}
.fc-icon-trigger:before {
    content: "\e950";
}
.fc-icon-tutor_lms_complete_course:before {
    content: "\e951";
}
.fc-icon-tutor_lms_enrollment_course:before {
    content: "\e952";
}
.fc-icon-tutorlms:before {
    content: "\e953";
}
.fc-icon-wait_time:before {
    content: "\e954";
}
.fc-icon-webhooks:before {
    content: "\e955";
}
.fc-icon-wishlist:before {
    content: "\e956";
}
.fc-icon-woo_new_order:before {
    content: "\e957";
}
.fc-icon-woo_order_complete:before {
    content: "\e958";
}
.fc-icon-woo_purchased:before {
    content: "\e959";
}
.fc-icon-woo_refund:before {
    content: "\e95a";
}
.fc-icon-woo:before {
    content: "\e95b";
}
.fc-icon-wordpress:before {
    content: "\e95c";
}
.fc-icon-wp_new_user_signup:before {
    content: "\e95d";
}
.fc-icon-wp_user_meta:before {
    content: "\e95e";
}
.fc-icon-wp_user_role:before {
    content: "\e95f";
}
.fc-icon-writing:before {
    content: "\e960";
}

